.yellowlab {
    background-color: #FFE521!important;
}
.fuschialab {
    background-color: #FF009E!important;
}
.sidebar {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.pageLogo { /* caja contenedora del logo */
    height: 4.5em;
}
.labLogo {
    padding-top: 1rem!important;
    padding-bottom: .5rem!important;
    max-width: 100%;
}
#navbarPage {
    background-color: #FFE521!important;
    height: 4.5em;
    z-index: 99;
}
.btnlab {
    border-radius: 5px;
    background-color: #FF009E!important;
    border-color: transparent!important;
    color: white!important;
    margin-bottom: .5em;
}
#lectureProgressPage {
    display: none;
    max-height: 400px;
    overflow: auto;
}
.row-margin { /* Agrega espaciado arriba a un row nuevo */
    margin-top: 1em;
}

#cohortsList {
    height: 200px;
    overflow: auto;
}
.auto-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#generalInformationPage {
    display: none;
}
.infoTable{
    max-height: 400px;
}

.spaceContent{
    padding-right: 0.5em;
}

#bodyContent{
    padding-top: 2.2em !important;
    overflow: auto;
}
#generalInfoTable {
    max-height: 400px;
    overflow: auto;
}